# Using an old Ubuntu because we want to test with old Pythons
dist: trusty
language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "nightly"
  - "pypy"
  - "pypy3"
matrix:
  allow_failures:
  - python: "pypy3"
  fast_finish: true

sudo: false
addons:
  apt:
    packages:
    - liblzma-dev
install:
  # On nightly, upgrade setuptools first to work around
  # https://github.com/pypa/setuptools/issues/1257
  - if [[ $TRAVIS_PYTHON_VERSION == 'nightly' ]]; then travis_retry pip install -U setuptools; fi
  - "python setup.py install"
before_script:
  - "cd test"
script:
  - "python test_lzma.py"
